<h2 id="title">Welcome to Ember</h2>

{{log buildInfo}}
<h3>Build Info</h3>
<ul>
  <li>SemVer: {{buildInfo.semver}}</li>
  <li>Version: {{buildInfo.version}}</li>
  <li>Release: {{buildInfo.release}}</li>
  <li>Build: {{buildInfo.build}}</li>
  <li><del>Commit: {{buildInfo.commit}}</del> (deprecated)</li>
</ul>

{{outlet}}
